<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN" monitorInterval="300" xmlns="http://logging.apache.org/log4j/2.0/config">
    <Properties>
        <Property name="LOG_ROOT">${sys:catalina.base}/webapps/logs/root</Property>
    </Properties>
    <Appenders>
        <!--这个输出控制台的配置-->
        <Console name="Console" target="SYSTEM_ERR">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMisMatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <!-- 这个会打印出所有的debug及以上级别的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档-->
        <RollingRandomAccessFile name="debug"
                                 fileName="${LOG_ROOT}/debug.log"
                                 filePattern="${LOG_ROOT}/$${date:yyyy-MM}-debug/debug-%d{yyyy-MM-dd}-%i.log.gz">
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="45"/>
        </RollingRandomAccessFile>
        <!-- 这个会打印出所有的info及以上级别的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档-->
        <RollingRandomAccessFile name="info"
                                 fileName="${LOG_ROOT}/info.log"
                                 filePattern="${LOG_ROOT}/$${date:yyyy-MM}-info/info-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="45"/>
        </RollingRandomAccessFile>
        <!-- 这个会打印出所有的warn及以上级别的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面但不压缩，作为存档-->
        <RollingRandomAccessFile name="warn"
                                 fileName="${LOG_ROOT}/warn.log"
                                 filePattern="${LOG_ROOT}/$${date:yyyy-MM}-warn/warn-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="60"/>
        </RollingRandomAccessFile>
        <!-- 这个会打印出所有的debug及以上级别的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面但不压缩，作为存档-->
        <RollingRandomAccessFile name="error"
                                 fileName="${LOG_ROOT}/error.log"
                                 filePattern="${LOG_ROOT}/$${date:yyyy-MM}-error/error-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="60"/>
        </RollingRandomAccessFile>
        <!-- 为Druid专门设置日志文件-->
        <RollingRandomAccessFile name="sql"
                                 fileName="${LOG_ROOT}/sql.log"
                                 filePattern="${LOG_ROOT}/$${date:yyyy-MM}-sql/sql-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="60"/>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <Logger name="net.sf.ehcache" level="info"/>
        <Logger name="org.apache.shiro.web.servlet.SimpleCookie" level="info"/>
        <Logger name="org.apache.shiro" level="info"/>
        <!--druid开启psCache后打印大量日志-->
        <Logger name="com.alibaba.druid.pool.PreparedStatementPool" level="info"/>

        <Logger name="druid" level="debug" additivity="false">
            <AppenderRef ref="sql"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="debug"/>
            <AppenderRef ref="info"/>
            <AppenderRef ref="warn"/>
            <AppenderRef ref="error"/>
        </Root>
    </Loggers>
</Configuration>